<main role="main">
  <div class="container mt-md-5">
    <h3><small>12/20 19:00 ～ 21:00</small><br>
    【オンライン】Ruby on Rails パフォーマンス・チューニングについて</h3>
    <div class="row">
      <div class="col-8">
        <h4>速度計測の方法から実践すべきTipまでご紹介します！</h4>
        <p>Webページの表示速度は、利用者に快適なサービスを提供するためにとても大切です。</p>
        <p>しかしながら、利用者やデータの増加、機能の高度化などにより、様々な要因でサービスのパフォーマンスは日々劣化していきます。</p>
        <p>
           本セミナーでは、ツールを使ったパフォーマンス計測の方法や、高速化するために行っている工夫、利用しているライブラリなど、
           社内で行っている取り組みについてご紹介します。
        </p>
        <p>■スピーカー</p>
        <div class="row">
          <div class="col-3"><%= image_tag("/assets/speaker-default-photo.jpg", alt: "スピーカーの顔写真", class: "speaker-photo img-fluid") %></div>
          <div class="col-9">
            <p>テスト　太郎<br>
            株式会社△△ リードエンジニア</p>
            <p>2010年に株式会社△△に入社。サーバサイドのパフォーマンス改善などの経験を積み、現在はリードエンジニアとして開発全般の技術責任者を務める。</p>
          </div>
        </div>
      </div>
      <div class="col-4 bg-light form-area">
        <%= form_with(model: @registration) do |f| %>
          <div id="errors"></div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
              </div>
              <div class="col">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group form-check">
            <%= f.check_box :agreement, { class: " form-check-input" }, "1", nil %>
            <%= f.label :agreement, "「個人情報の取扱について」に同意する。", class: "form-check-label" %>
            <p><small class="text-muted">※お申込後、メールにて視聴URLをご案内致します。</small></p>
          </div>

          <div class="d-flex justify-content-center">
            <%= f.submit "イベントに申し込む", class: "btn btn-primary btn-block btn-lg w-75" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
