<main role="main">
  <div class="container mt-md-5">
    <h3>
      <small>
        <%= "#{l(@event.start_at, format: :short)} ～ #{l(@event.end_at, format: :short)}" %>
      </small>
      <br>
      <%= @event.title %>
    </h3>
    <div class="row">
      <div class="col-8">
        <h4><%= @event.sub_title %></h4>
        <%= simple_format(@event.content) %>
        <p>■スピーカー</p>
        <div class="row">
          <div class="col-3"><%= image_tag("/assets/speaker-default-photo.jpg", alt: "スピーカーの顔写真", class: "speaker-photo img-fluid") %></div>
          <div class="col-9">
            <p><%= "#{@event.speaker.first_name} #{@event.speaker.last_name}" %></p>
            <p><%= @event.speaker.company %></p>
            <p><%= simple_format(@event.speaker.profile) %></p>
          </div>
        </div>
      </div>
      <div class="col-4 bg-light form-area">
        <%= form_with(model: @event.registrations.new, url: event_registrations_path(@event)) do |f| %>
          <div id="errors"></div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
              </div>
              <div class="col">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group form-check">
            <%= f.check_box :agreement, { class: " form-check-input" }, "1", nil %>
            <%= f.label :agreement, "「個人情報の取扱について」に同意する。", class: "form-check-label" %>
            <p><small class="text-muted">※お申込後、メールにて視聴URLをご案内致します。</small></p>
          </div>

          <div class="d-flex justify-content-center">
            <%= f.submit "イベントに申し込む", class: "btn btn-primary btn-block btn-lg w-75" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
