<main role="main">
  <div class="container mt-5 p-lg-5">
    <div class="row">
      <div class="col-6">
        <h2>まずは無料レッスン！</h2>
        <h4>マンツーマンレッスンで英語を学習できます</h4>
        <p>
          Techpit Englishでは、科学的に効果が実証された学習法でマンツーマンレッスンを行ます。
          また、受講スタイルや目的に合わせたさまざまなレッスンプランをご用意してますので、きっとあなたに最適なプランが見つかります。
        </p>
        <small class="text-muted">お申込後、弊社よりメールにて説明会日程調整のご案内をさせて頂きます。</small>
      </div>
      <div class="col-6 bg-light">
        <%= form_with(model: @inquire) do |f| %>
          <div id="errors"></div>
          <div class="form-group">
            <%= f.label :name, "Name(フルネーム)"%>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email, "Email" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group form-check">
            <%= f.check_box :agreement, { class: " form-check-input" }, "1", nil %>
            <%= f.label :agreement, "「個人情報の取扱について」に同意する。", class: "form-check-label" %>
            <small>(<%= link_to "個人情報の取扱について", "#" %>)</small>
          </div>

          <div class="d-flex justify-content-center">
          <%= f.submit "無料体験", class: "btn btn-primary btn-lg w-50" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
